<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || 'Rogue Codewright' %></title>

    <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css'
          rel='stylesheet'>
    <%= stylesheet_link_tag 'all' %>

    <script src='http://code.jquery.com/jquery-2.0.3.min.js'></script>
  </head>

  <body>
    <div class='center'>
      <div class='blog-content'><%= yield %></div>

      <div class='sidebar-right'><div class='content'>
        <h5><%= link_to 'Home', '/' %></h5>
        <h5><%= link_to 'About Rogue Codewright', '/about.html' %></h5>
        <h5>Recent Articles</h5>
        <ul>
          <% blog.articles[0...10].each do |article| %>
            <li><%= link_to article.title, article %>
              <span><%= article.date.strftime('%b %e') %></span></li>
          <% end %>
        </ul>
        <h5>Tags</h5>
        <ul>
          <% blog.tags.each do |tag, articles| %>
            <li><%= link_to tag, tag_path(tag) %> (<%= articles.size %>)</li>
          <% end %>
        </ul>
        <h5>By Year</h5>
        <ul>
          <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
            <li><%= link_to year, blog_year_path(year) %> (<%= articles.size %>)</li>
          <% end %>
        </ul>
        <div class='iconrow text-center'>
          <% link_to '/feed.xml' do %>
            <img width='20' src='/images/feed-icon-28x28.png'/>
          <% end %>
          <a href='https://twitter.com/Roguenet' class='twitter-follow-button' data-show-count='false'>Follow @Roguenet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class='sidebartop sidebarcap sidebarbg'></div>
        <div class='sidebartile sidebarbg'></div>
        <div class='sidebarbot sidebarcap sidebarbg'></div>
      </div></div>

      <div class='clear'></div>
      <div class='centertop centercap centerbg'></div>
      <div class='centertile centerbg'></div>
      <div class='centerbot centercap centerbg'></div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42287124-1', 'roguenet.org');
      ga('send', 'pageview');
    </script>
  </body>
</html>
