---
title: Lessons Learned from Diablo 3
tags: non-technical, game design
---

### Launching a Bad Game

<p class='text-center'>
<%= image_tag 'blog/2014/09/19/lessons-learned-d3/banner.jpg',
    :alt => 'Banner' %>
</p>

[Diablo 3](http://us.battle.net/d3/en/) has had a rocky history, to say the least. The initial
release date was May 15, 2012. The first night, a horde of enthusiasts descended on the game, which
was consequently [completely unplayable](http://www.vg247.com/2012/05/17/blizzard-did-not-go-far-enough-prepping-diablo-iii-servers/)
because the servers were overloaded. I'm sure there are valuable lessons to be learned from that
period in the game's history, but that's not what this blog post is about.

The game launched with an auction house which had two versions. One was for in-game exchange between
players using in-game currency (gold). The other was for the exchange of in-game items and gold with
real currency. This system was nearly universally denounced for a [variety](http://www.polygon.com/2013/4/4/4180398/diablo-3-real-money-auction-house)
[of](http://www.escapistmagazine.com/news/view/122980-Blizzard-Admits-Diablo-III-Auction-House-Was-a-Mistake)
[reasons](http://diablo.incgamers.com/blog/comments/diablo-3s-auction-house-went-straight-hell).
That's also not what this blog post is about.

Finally, the game also launched with [terrible "itemization"](http://img21.imageshack.us/img21/9989/infographiclarge.png).
The only way to get good gear for your character was to farm a lot in the hopes that you
could sell enough stuff to buy what you really wanted on the (aforementioned bad) auction house.
Even if you found something insanely good, chances were very high that it wasn't good for *your
character*.

Despite all of these problems, a lot of people played the game. For my own experience, it was my
first time in a game like the those of the Diablo franchise, and I was totally hooked. However,
eventually the game ran out of goals for me to work on and I stopped playing. Time passed and
things gradually improved. Blizzard has had several release iterations [addressing the itemization](http://us.battle.net/d3/en/blog/8953696/developer-journal-itemization-update-3-5-2013).
It got good. Despite early claims that there was no way for them to shut the AH down because it
is too intrinsic to the game's design, Blizzard also eventually [shut down the auction house](http://us.battle.net/d3/en/forum/topic/9972208129). A [major expansion](http://us.battle.net/d3/en/reaper-of-souls/)
was released, adding a new region to the game, increasing the level cap and adding the major new
systems Adventure Mode and Nephalem Rifts. Rifts and Adventure Mode are the major win of Reaper
of Souls, and players came back to the game in droves with the release of 2.0/RoS.

Despite starting with what a lot of people thought was a really disappointing long-awaited followup
to Diablo 2, the game today is quite good and is the result of a lot of iteration on a live game
by the team at Blizzard. They've done a great job interacting with the community and taking
feedback to arrive at where they are today, and deserve considerable kudos for this. However, it's
still incidental to what I want to talk about.

### Launching an Excellent Game Patch

<p class='text-center'>
<%= image_tag 'blog/2014/09/19/lessons-learned-d3/ros.jpg',
    :alt => 'Reaper of Souls' %>
</p>

Version 2.1 went live on August 26, 2014. This patch introduced two major features. The first is
[Greater Rifts](http://us.battle.net/d3/en/blog/15317478/patch-210-preview-greater-rifts-8-22-2014).
An expansion on the Nephalem Rift system, they are time efficiency attacks that are a great way
to test out your current gear, build and game proficiency. They cause you to push yourself to keep
getting better despite the hard cap on game difficulty that normal play offers through the Torment
difficulty system. They remind me a lot of the good part's of [FFXI's Salvage](http://wiki.ffxiclopedia.org/wiki/Category:Salvage),
which has got a great deal of nostalgia value for me.

The second new system is [Seasons](http://us.battle.net/d3/en/blog/15198713/patch-210-preview-seasons-8-15-2014). This is apparently similar to Diablo 2 ladders, but I've never played them so I can't
attest to that myself. In seasons, you start with what is effectively a brand new account and
level up a new character that has none of the benefits of your existing shared gold balance, saved
gear or paragon levels. From the basic description, it doesn't sound that compelling to me, but
then you add in leaderboards for progress and new items that are exclusive to the current season
and it gets a little more interesting.

These two systems change the current game meta substantially. Suddenly, everybody is starting fresh
and has to find great gear themselves. The race to the top is interesting again and there are enough
people playing that you can find party members at all hours and on all difficulties. The game
experience is vastly improved.

### Hardcore is the Best

<p class='text-center'>
<%= image_tag 'blog/2014/09/19/lessons-learned-d3/agreement.jpg',
    :alt => 'Hardcore agreement' %>
</p>

Now we finally get to the meat of what I think is so very excellent about the current state of the
game, and what compelled me to yack about it on the Internet. To describe my feelings on the matter,
I need to introduce one more game system: Hardcore. In Hardcore, the game is exactly the same.
However, when you start, you click through a dialog warning you that if your character dies, she's
dead. It doesn't matter if she died because you did something stupid, or she died because Blizzard's
server was having a bad day or she died because your Comcast internet burped at the wrong time.
There is no way to appeal to have an HC character resurrected, even if the condition of her death
is completely out of your control. She's dead. Deal with it, move on.

That sounds incredibly harsh, but it adds an immeasurably important factor to the game's design:
death has a consequence. When the game launched, the normal game (softcore or SC - or "lamecore"
if you're an HC snob) had some death consequence. If you were playing solo you had to go back to
town and run back to where you died (party members could resurrect you in place if you were playing
in a party). Your gear wears down and the costs to repair it were relevant. You probably died to an
elite monster pack, and while you were gone they were slowly regaining health so that it was likely
you'd face the pack at full strength once you got back to them. It was pretty annoying, but it
wasn't enough to get SC players to gear well enough to not ever die. All it did was frustrate them.
Over time, these death roadblocks went away entirely or got gradually weakened to the point it's at
today where a death in SC is virtually meaningless. There is a consequence in Greater Rifts in that
the ability to resurrect directly at your dead body when solo is removed, but even this is fairly
minor.

### Player Agency
In HC of course, death always has a consequence. You lose all the loot that was on your character
(both equipped and in his inventory), and that character is no longer available for play. This is
a really significant consequence and it obviously has a major impact on playstyles. There is a good
body of stuff to read on the internet about player choice and agency in game design, and
Extra Credits [talks](https://www.youtube.com/watch?v=45PdtGDGhac)
[about](https://www.youtube.com/watch?v=j0RFoGvkQfs)
[it](https://www.youtube.com/watch?v=hnxVOUSzX4A)
[a lot](https://www.youtube.com/watch?v=45PdtGDGhac), with good reason. For all of the fun and
interesting decisions that are part of rapid-fire gameplay and slow consideration over equipment
and build choices in SC D3, the consequence of death in HC adds an entirely new dimension to every
decision you make as a player.

I first tried out HC after logging many hours of SC in the original game experience and running out
of things to do. It was simultaneously frustrating and thrilling to lose a character during the
leveling experience on the way to the level cap at 60, or when trying to work your way up through
the original Inferno difficulty system at level cap. I had a buttload (metric) of fun progressing
through that system, despite all the problems with the original game mentioned above. I still
consider finally beating Diablo in Inferno in HC to be a major accomplishment in my D3 game history.
Once I'd done it though, I once again ran out of things to do and stopped playing.

This is where the genius of 2.1's Greater Rifts and Seasonal goodness comes in. At first I thought
the major win would be that leveling in HC would be hard again because I wouldn't get any of the
benefit of the progress on my main account. As such, I was initially disappointed because it was
in fact extremely easy. None of the forced difficulty in leveling through high strength monsters was
there from the original game and getting to 70 was a fast and trivial experience. Inside of a day,
I was running relatively hard content at the highest game difficulty and it had me scratching my
head wondering if D3 was going to put a wall in front of me ever again. As a game player, I am
forever in the search of walls that will force me to make interesting choices. Without that push,
there is no game.

The wall arrived in the form of Greater Rifts. Not only do they continue to push you to get
incrementally better by having a finer grain to the difficulty curve than the normal difficulty
settings of Adventure Mode, the difficulty is uncapped. It's a bit less than a month out from
Seasons release, and even in Hardcore, there is a very large body of players that can run the
hardest difficulty with ease. The [power creep](http://en.wikipedia.org/wiki/Power_creep) is real,
and as expected will continue to get worse. Greater Rifts address that situation very elegantly.

The first lesson I'm taking away from D3 is about game design: you can build up all the
complicated, interconnected game systems you want but if the decisions the player makes do not
have enough weight, your systems will get boring fast. If this is a problem for your game, consider
adding an orthogonal game factor that increases the consequences for the existing game systems.
I strongly encourage anybody interested in game design to give HC D3 a whirl. Level up a character,
feel the terror and adrenaline rush when you almost die. Feel the impact that a character you've
spent time on dies, and mull that over in your head.

### HC Death is the Worst (or not)

<p class='text-center'>
<%= image_tag 'blog/2014/09/19/lessons-learned-d3/death.jpg',
    :alt => 'Hardcore death' %>
Not my actual death, but you get the idea.
</p>

When I played around with HC in the original game structure, I felt genuinely bad when an HC
character died. I would be in a slump for awhile. I'd sometimes leave the game alone and only
come back to it after a couple of weeks when I was ready to take on the HC death burden once again.

Something magical has happend in 2.1 though. I've died twice this season. My [first seasonal character](http://us.battle.net/d3/en/profile/Roguenet-1493/career)
was a Barbarian and after pushing hard all through the first weekend of release, she died because
I did something stupid in a relatively low level of solo Greater Rift and paid the price for it.
Instead of feeling bad and hating the game as I had in the past, I felt great! It was the oddest
reaction I can think of, but I felt it throughout my core. That character was fun, she had some
neat gear but it was just getting to the point where finding new gear for her was a slog and she
was now neatly set aside so I could focus on something new.

For my second character, I chose [Demon Hunter](http://us.battle.net/d3/en/profile/Roguenet-1493/hero/52333334). I did this in part because DH got slightly unbalanced recently and there is a build
that everybody uses because it's ridiculously powerful. While I'm not a fan of unbalanced mechanics,
degenerative gameplay can be fun when you're the one exploiting it. I expect that DH is in for a
nerf, but I also expect that it won't happen until this season wraps up.

This second character found an incredibly powerful weapon very early, and I went to town with it. In
the end, I put a lot of time into farming her gear, and all of her gear is *pretty good*. None of it
is of the calibur of that weapon, but it's good enough that she was running the highest level
non-greater-rift content with ease, and she had pushed to a pretty high level of solo greater rift
play. In the end though, those greater rifts are designed to keep encouraging the player to push it
and I pushed it right into a situation I couldn't escape and I died. This time it hit a bit harder
because I'd been playing her for more time and I was really attached to that weapon. But I still
come away feeling like the current state of game play, via Hardcore in conjunction with Greater
Rifts is so well balanced that there's no way I won't come back for another dose.

<p class='text-center'>
<%= image_tag '/blog/2014/09/19/lessons-learned-d3/calamity.png', :alt => 'Calamity' %>
<br/>
Seriously, look at that thing. <em>So sexy</em>, amirite?
</p>

Thinking about my feelings with regard to that character this morning, I've realized that there
is an important life lesson to pull out of this experience. In software design (and I'm sure this
is true of many other fields as well), it's very common for a project to receive a lot of hard
work from a dedicated team, with lots of iterations... only to get cancelled and shelved forever.
That can be very hard to deal with. I think one of the main reasons it's so hard to let go of
such a project is that it's still sitting there, taunting you. All that time was put into it,
couldn't it be good with just a little more love? This is a prime example of the
[sunk cost fallacy](http://youarenotsosmart.com/2011/03/25/the-sunk-cost-fallacy/), and knowing that
doesn't help let go at all.

In the future, I will attempt to box up and shelve such projects with the clarity that a Hardcore
character death forces on the player. It is impossible for me to go back and and play that DH again.
I've left her active (as opposed to archived) so I can go back and look at her gear; I can wistfully
think about her lost potential when I'm feeling nostalgic. But no matter how tempted I might
otherwise be, it is impossible to use that character again. Shelved projects might have useful
bits to reference down the road, but an important skill in any iterative design process is the
ability to recognize and thoroughly cut loose the bits that aren't working.

Give your dead projects a Hardcore death. Box them up and push them out of your subconcious. Keep
around what is useful for nostalgic or reference reasons, but internalize the need to ignore them
as a future time sink.

Finally, if you have any interest in this type of game at all, go give the current D3 a try!
Definitely give HC a spin, and friend me on Battle.net; I'll be happy to run some rifts at any time.
